.Solutions {
    height: fit-content;
    width: 80%;
    background: #fff;
    border-radius: 7px;
    position: relative;
    top: -150px;
    margin: 0 auto;
    color: #000;
}
.SolutionSelection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    list-style: none;
}
.SolutionSelection li {
    opacity: 0.8;
    cursor: pointer;
    padding: 10px 20px;
}

@media(max-width: 768px) {
    .SolutionSelection {
        justify-content:stretch;
        overflow-x: scroll;
        padding: 30px 10px;
    }
    .SolutionSelection li {
        min-width: 220px;
        padding: 10px;
    }
}
